.reveal .progress {
  height: 30px;
}

.reveal .controls {
  bottom: 30px;
}

.reveal .slide-number {
  bottom: -3px;
  font-size: 24px;
  background-color: transparent;
}


.reveal .date {
  position: fixed;
  display: block;
  left: 8px;
  bottom: -3px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  padding: 5px;
}

.reveal .college {
  position: fixed;
  display: block;
  left: 30%;
  bottom: -3px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  padding: 5px;
}

.reveal .slides .sub-titles {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.college-title {
  margin-top: 0;
}

.reveal .slides {
  width: 100%;
}

.slides h6 {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

.reveal section img {
  border: 0;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reveal .slides ul li {
  font-size: 30px;
  margin: 0 0 20px 0;
}


.reveal .slides img {
  margin-top: 0px;
}

.schedule img {
  width: 500px;
  height: 600px;
}

#nonfunctional ul.nonfunctional li{
    font-size: 25px;
    margin-top: 10px;
}


img.logo-1, img.logo-2  {
  position: fixed;
}

img.logo-1 {
  left: -80px;
}

img.logo-2 {
  right: -80px;
  top: -15px;
}

.reveal .slides .functional li{
    font-size: 30px;
}

.reveal .slides div.one{
    float: left;
    margin-left: 10px;
}

.reveal .slides div.two{
    float: right;
}